{% extends "layouts/layout.html" %}
{% block content %}

<div class="border-bottom">
  <h5>Biroul de avocatura Militon Razvan va ofera servicii de consultanta juridica.</h5>
  <div>
    <p>De asemenea, biroul nostru oferă asistenţă si reprezentare în cauzele aferente Accidentelor rutiere, Discriminării.</p>
    <p>Viziunea si valorile noastre</p>
    <ul>
      <li>Seriozitatea este principala noastră calitate.</li>
      <li>Tenacitatea avocaţilor noştri se materializează, de cele mai multe ori, prin succesul clienţilor.</li>
      <li>Oferim clienţilor explicaţii pe înţelesul acestora.</li>
      <li>Increderea reprezintă cheia succesului în relaţia cu clienţii noştri.</li>
      <li>Consecvenţa cu care urmărim scopul cauzelor noastre reprezintă premisa succesului nostru.</li>
      <li>Ambiţia reprezintă aliatul avocaţilor noştri în cȃştigarea cauzelor.</li>
    </ul>
  </div>
  <img src="/static/images/birou-de-avocatura.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" width="700" height="500" loading="lazy">
</div>
{% endblock content %}